.property-container {
    @extend .primary-container;
    padding: 2rem 0;
}

.property-wrapper {
    grid-area: main;
}

.property-header {
    text-align: center;

    h3 {
        @include font(1.5, 600, black, 1.5);
        
    }
}

.property-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    

    @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
    }
}